<!-- main app container -->
<div class="wrapper">
  <navbar></navbar>
  <div class="main-panel">
    <navbarExtended></navbarExtended>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <!--Beginning of left panel -->
          <div class="col-lg-4 col-md-5">
            <!--beginning of user card panel -->
            <div class="card card-user">
              <div class="image">
                <img src="assets/img/background.jpg" alt="..."/>
              </div>
              <div class="content">
                <div *ngIf="serviceLoaded" class="author">
                  <img class="avatar border-white" src="{{currUser.imgUrl}}" alt="..."/>
                  <h4 class="title">{{currUser.firstName}} {{currUser.lastName}}<br />
                    <a href="#"><small>@{{currUser.username}}</small></a>
                  </h4>
                </div>
                <p class="description text-center">
                  <!-- insert description -->
                </p>
              </div>
              <hr>
              <div class="text-center">
                <div *ngIf="serviceLoaded" class="row">
                  <div class="col-md-4 ">
                    <h5>${{portfolio.netAsset}}<br /><small>Net Worth</small></h5>
                  </div>
                  <div class="col-md-4">
                    <h5>${{portfolio.totalInvested}}<br /><small>Invested</small></h5>
                  </div>
                  <div class="col-md-4">
                    <h5>${{portfolio.revenue}}<br /><small>Revenue</small></h5>
                  </div>
                </div>
              </div>
            </div>

            <!--beginning of stock listing panel -->
            <div class="card">
              <div class="header">
                <h4 class="title">Stocks owned</h4>
              </div>
              <div class="content">
                <ul class="list-unstyled team-members">
                  <li *ngFor="let stock of portfolio">
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="avatar">
                          <img src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                        </div>
                      </div>
                      <div class="col-xs-6">
                        {{stock.stockSymbol}}
                        <br />
                        <span class="text-muted"><small>{{stock.shareCount}} shares purchased @ ${{stock.purchasePrice}}</small></span>
                        <br />
                        <span class="{{stock.statusColor}}"><small>{{stock.status}}</small></span>
                      </div>

                      <div class="col-xs-3 text-right">
                        <button (click)="promptEditModal(stock)" class="btn btn-sm btn-success btn-icon"><i class="fa fa-edit"></i></button>
                        <button (click)="deleteStock(stock)" class="btn btn-sm btn-danger btn-icon"><i class="fa fa-remove"></i></button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div> <!--End of left panel-->

          <!-- Stock Management Section -->
          <div class="col-lg-8 col-md-7">
            <div class="card">
              <div class="header">
                <h4 class="title">Manage Stocks</h4>
              </div>
              <div class="content">
                <form name="form" (ngSubmit)="f.form.valid && addStock()" #f="ngForm" novalidate>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !stockSymbol.valid }">
                        <label for="stockSymbol">Stock Symbol</label>
                        <input type="text" class="form-control border-input" placeholder="eg. APPL" id="stockSymbol" name="stockSymbol" [(ngModel)]="model.stockSymbol" #stockSymbol="ngModel" required />
                        <div *ngIf="f.submitted && !stockSymbol.valid" class="help-block">Stock Symbol is required</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !shareCount.valid }">
                        <label for="shareCount">Number of Shares</label>
                        <input type="number" min="1" step="any" class="form-control border-input" placeholder="Qty" id="shareCount" name="shareCount" [(ngModel)]="model.shareCount" #shareCount="ngModel" required >
                        <div *ngIf="f.submitted && !shareCount.valid" class="help-block">Share Count is required</div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !purchasePrice.valid }">
                        <label for="purchasePrice">Purchased Price</label>
                        <input type="number" class="form-control border-input" placeholder="$0.00" id="purchasePrice" name="purchasePrice" [(ngModel)]="model.purchasePrice" #purchasePrice="ngModel" required >
                        <div *ngIf="f.submitted && !purchasePrice.valid" class="help-block">Purchase Price is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" [disabled]="loading" class="btn btn-info btn-fill btn-wd">Add Stock</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>

          <!-- Set push notification -->
          <!-- <div class="col-lg-8 col-md-7">
             <div class="card">
               <div class="header">
                 <h4 class="title">Push Notification Settings</h4>
               </div>
               <div class="content">
                 <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                   <div class="row">
                     <div class="col-md-6">
                       <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !positiveNotify.valid }">
                         <label for="stockSymbol">Positive notify</label>
                         <input type="text" class="form-control border-input" placeholder="eg. 3000" id="positive-revenue-notify" name="positive-revenue-notify" [(ngModel)]="model.positiveNotify" #positiveNotify="ngModel" required />
                         <div *ngIf="f.submitted && !positiveNotify.valid" class="help-block">Amount required</div>
                       </div>
                     </div>
                     <div class="col-md-6">
                       <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !negativeNotify.valid }">
                         <label for="stockSymbol">Negative notify</label>
                         <input type="text" class="form-control border-input" placeholder="eg. 3000" id="negative-revenue-notify" name="negative-revenue-notify" [(ngModel)]="model.negativeNotify" #negativeNotify="ngModel" required />
                         <div *ngIf="f.submitted && !negativeNotify.valid" class="help-block">Amount required</div>
                       </div>
                     </div>
                   </div>
                   <div class="text-center">
                     <button type="submit" [disabled]="loading" class="btn btn-info btn-fill btn-wd">Update Preference</button>
                     <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                   </div>
                   <div class="clearfix"></div>
                 </form>
               </div>
             </div>
           </div>

           <!-- Beginning of profile editing page -->
          <div class="col-lg-8 col-md-7">
            <div class="card">
              <div class="header">
                <h4 class="title">Edit Profile</h4>
              </div>
              <div class="content">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control border-input" disabled placeholder="Username" value="jayliu95">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control border-input" disabled placeholder="Email" value="jayliu95@stockwatcher.me">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control border-input" placeholder="First name" value="Jason">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control border-input" placeholder="Last Name" value="Liu">
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <footer-template></footer-template>
  </div>
</div>
