<!-- main app container -->
<div class="wrapper">
  <navbar></navbar>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-5">
                    <div class="icon-big icon-warning text-center">
                    </div>
                  </div>
                  <div class="col-xs-7">
                    <h1>Jason Liu</h1>
                    <h3>@Jason_Liu</h3>
                    <p>Account Balance: 0.62007 BTC</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-5">
                    <div class="icon-big icon-warning text-center">
                    </div>
                  </div>
                  <div class="col-xs-7">
                    <p>You paid Michael Culhane</p>
                    <p>0.000012 BTC</p>
                    <p>October 1, 2017</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-5">
                    <div class="icon-big icon-warning text-center">
                    </div>
                  </div>
                  <div class="col-xs-7">
                    <p>Michael Culhane paid you</p>
                    <p>0.000306 BTC</p>
                    <p>September 13, 2017</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

