<!-- Settings Buttons Container -->
<div class="wrapper">
  <navbar></navbar>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="content">
            <button class="btn btn-default btn-block">Edit Profile</button>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <button class="btn btn-default btn-block">Add Wallet</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

