<!-- main app container -->
<div class="wrapper">
  <navbar></navbar>
  <div class="main-panel">
    <navbarExtended></navbarExtended>
    <div class="content" *ngIf="serviceLoaded">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-5">
                    <div class="icon-big icon-warning text-center">
                      <i class="ti-money"></i>
                    </div>
                  </div>
                  <div class="col-xs-7">
                    <div class="numbers">
                      <p>Net Worth</p>
                      {{portfolio.netAsset}}
                    </div>
                  </div>
                </div>
                <div class="footer">
                  <hr />
                  <div class="stats">
                    <i class="ti-reload"></i> Updated now
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="icon-big icon-info text-center">
                      <i class="ti-pie-chart"></i>
                    </div>
                  </div>
                  <div class="col-xs-8">
                    <div class="numbers">
                      <p>Total Invested</p>
                      {{portfolio.totalInvested}}
                    </div>
                  </div>
                </div>
                <div class="footer">
                  <hr />
                  <div class="stats">
                    <i class="ti-timer"></i> Updated now
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-5">
                    <div class="icon-big text-center" [class.icon-danger]="portfolio.revenue < 0" [class.icon-success]="portfolio.revenue >= 0" >
                      <i class="ti-wallet"></i>
                    </div>
                  </div>
                  <div class="col-xs-7">
                    <div class="numbers">
                      <p>Revenue</p>
                      ${{portfolio.revenue}}
                    </div>
                  </div>
                </div>
                <div class="footer">
                  <hr />
                  <div class="stats">
                    <i class="ti-calendar"></i> Last day
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card">
              <div class="content">
                <div class="row">
                  <div class="col-xs-5">
                    <div class="icon-big icon-info text-center">
                      <i class="ti-twitter-alt"></i>
                    </div>
                  </div>
                  <div class="col-xs-7">
                    <div class="numbers">
                      <p>Followers</p>
                      +45
                    </div>
                  </div>
                </div>
                <div class="footer">
                  <hr />
                  <div class="stats">
                    <i class="ti-reload"></i> Updated now
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <h4 class="title">Users Behavior <button type="submit" (click)="updateData()" class="btn btn-primary">Update</button></h4>
                <p class="category">24 Hours performance</p>
              </div>
              <div class="row">
                <div class="content">
                  <div class="col-md-6" *ngFor="let stock of stockData">
                    <div class="header">
                      <h4>{{stock.t}}</h4>
                      <div class="stats">
                        <i class="ti-reload"></i>- Updated {{stock.lt}}
                      </div>
                    </div>
                    <img style="max-width: 100%" src="{{stock.stockImgUrl}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-template></footer-template>
  </div>
</div>

