<div class="sidebar" data-background-color="white" data-active-color="danger">

  <!--
      Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
      Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <h1>Jason Liu</h1>
      <br>
      <h5>@Jason_Liu</h5>
    </div>
    <ul class="nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" >
          <i class="ti-user"></i>
          <p>Account</p>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/personal_wallet" >
          <i class="ti-wallet"></i>
          <p>Personal Wallet</p>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/settings">
          <i class="ti-settings"></i>
          <p>Settings</p>
        </a>
      </li>
    </ul>
  </div>
</div>
